<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/linearicons.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
<link rel="stylesheet" th:href="@{/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/personnel.css}">
<title th:text="${@environment.getProperty('spring.application.name')}"></title>
</head>
<body>
	
	<!-- #header -->
	<div th:replace="/fragments/header :: header"></div>
	<!-- #header -->

	<!-- start banner Area -->
	<section class="relative banner-area-bg">
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white" th:text="${@environment.getProperty('spring.application.name')}"></h1>
					<p class="text-white link-nav">
						<a th:href="${home}">Accueil</a>
								<span class="lnr lnr-arrow-right"></span>  Gestion des congés
				
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	
	<!-- Start hot-deal Area -->
			<section class="hot-deal-area">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="col-lg-10">
			                <div class="section-top-border">
								<h3 class="mb-30">Titres de cong&eacute;s accord&eacute;s</h3>
								<div class="right">
									<a th:href="@{/vacation/add}" class="primary-btn text-uppercase">Enregistrer un titre de cong&eacute;</a>
								</div>
								<!-- form -->
								<div class="comment-form">
									<form th:method="post" th:action="@{/vacation/search}" th:object="${searchVacationForm}">							
										<div class="">
											<div class="col-lg-4 col-md-12 right">
												<h4>Completer les informations</h4>			
											</div>
										</div>
										<div class="form-group form-inline">
											<div class="col-lg-4 col-md-12 right">
												<input type="text" name="employeeFullname" class="form-control" placeholder="Rechercher employee">
											</div>
											<div class="col-lg-4 col-md-12 right">
												<input type="text" name="startDate" class="form-control date-picker" placeholder="Date de debut">
											</div>
											<div class="col-lg-4 col-md-12 right">
												<input type="text" name="endDate" class="form-control date-picker" placeholder="Date de fin">
											</div>
										</div>
										<div class="form-group form-inline">
											<div class="col-lg-4 col-md-12 right">
												<input type="submit" class="genric-btn info radius text-uppercase" value="Rechercher" />
											</div>
											<div class="form-select col-lg-6">
												
											</div>
										</div>
									</form>
								</div>
							    <!--  -->	<br><br>
							
							    <div class="progress-table-wrap">
									<div class="progress-table">
										<div class="table-head">
											<div class="vacation_employee">Employee</div>
											<div class="vacation_demand">Date de la demande</div>
											<div class="vacation_start">Date de d&eacute;but</div>
											<div class="vacation_duration">Dur&eacute;e</div>
											<div class="vacation_action"></div>
										</div>
										<div class="table-row" th:each="vacation: ${vacations}">
											<div class="vacation_employee"><a th:text="${vacation.employee.firstname} + ' ' + ${vacation.employee.lastname}" th:href="@{employee/{id}(id=${vacation.employee.id})}"></a></div>
											<div class="vacation_demand" th:text="${vacation.dateOfDemand}"></div>
											<div class="vacation_start"  th:text="${vacation.startDateFrench}"></div>
											<div class="vacation_duration"  th:text="${vacation.duration} + ' jour(s)'"></div>
											<div class="vacation_action">
												<a href="#" class="genric-btn warning radius">Modifier</a>&nbsp;&nbsp;
												<a th:href="@{vacation/delete/{id}(id=${vacation.id})}" class="genric-btn danger radius">Supprimer</a>
											</div>
										</div>
									</div>
								</div>
			                </div>
			        	</div>
		            </div>	
				</div>	
				
			</section>
			<!-- End hot-deal Area -->
		
	<!-- start footer Area -->
	<div th:replace="/fragments/footer :: footer"></div>
	<!-- End footer Area -->

	<script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script th:src="@{/js/jquery-ui.js}"></script>
	<script th:src="@{/js/easing.min.js}"></script>
	<script th:src="@{/js/hoverIntent.js}"></script>
	<script th:src="@{/js/superfish.min.js}"></script>
	<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/mail-script.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>
</html>