<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<!--  -->
	<div th:fragment="header">

		<header id="header">
			<div class="header-top">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-sm-6 col-6 header-top-left">
			  				<ul>
			  					<li><a th:href="@{/logout}">Se deconnecter</a></li>
			  					<li><a th:href="@{/user/edit/{id}(id=${userPrincipal.id})}">Modifier mot de passe</a></li>
			  				</ul>			
			  			</div>
						<div class="col-lg-6 col-sm-6 col-6 header-top-right">
							<ul sec:authorize="isAuthenticated()">
								<li><b><a sec:authentication="name"></a><a
									sec:authentication="principal.authorities"></a></b></li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="container main-menu">
				<div class="row align-items-center justify-content-between d-flex">
					 <div id="logo">
					</div>
					<nav id="nav-menu-container">
						<ul class="nav-menu">
							<li th:each="functionality: ${functionalities}"><a th:text="${functionality.name}" th:href="${functionality.url}"></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
	</div>
	<!--  -->
</html>