<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/linearicons.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
<link rel="stylesheet" th:href="@{/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/personnel.css}">
<title th:text="${@environment.getProperty('spring.application.name')}"></title>
</head>
<body>
	
	<!-- #header -->
	<div th:replace="/fragments/header :: header"></div>
	<!-- #header -->

	<!-- start banner Area -->
	<section class="relative banner-area-bg">
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white" th:text="${@environment.getProperty('spring.application.name')}"></h1>
					<p class="text-white link-nav">
	<a th:href="${home}">Accueil</a>
												<span class="lnr lnr-arrow-right"></span>Fonctions
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	
	<!-- Start hot-deal Area -->
			<section class="hot-deal-area">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="col-lg-10">
			                <div class="section-top-border">
								<h3 class="mb-30">
									</i>Ajouter un nouveau fonction
								</h3>
		
								<div class="comment-form">
									<h4>Completer les informations</h4>
									<form th:action="@{/function/add}" th:object="${function}" th:method="post">
										
									<div class="form-group">
											<div class="col-lg-9 col-md-12">
												<input type="text" class="form-control" name="denomination" id="denomination" placeholder="Titre de la fonction">
										</div>
										</div>
										
										<div class="form-group">
											<div class="col-lg-9 col-md-12">
											<input type="text" class="form-control" name="description" id="description" placeholder="Description de la fonction">
										</div>
										</div>
										
										<div class="form-group">
											<div class="col-lg-9 left">
											<input type="submit" class="genric-btn info radius text-uppercase" value="Enregistrer" />
										</div>
										</div>
										
									</form>
								</div>
								
								<div class="progress-table-wrap">
								<div class="progress-table">
									<div class="table-head">
										<div class="function_id">#</div>
										<div class="function_name">Titre de la fonction</div>
										<div class="function_description">D&eacute;scription</div>
										<div class="function_action"></div>
									</div>
									<div class="table-row" th:each="function: ${functions}">
										<div class="function_id" th:text="${function.id}"></div>
										<div class="function_name" th:text="${function.denomination}"></div>
										<div class="function_description" th:text="${function.description}"></div>
										<div class="function_action">
											<a th:href="@{function/edit/{id}(id=${function.id})}" class="genric-btn warning radius">Modifier</a>&nbsp;&nbsp;
											<a th:href="@{function/delete/{id}(id=${function.id})}" class="genric-btn danger radius">Supprimer</a>
										</div>
									</div>
								</div>
								</div>
			                </div>
			        	</div>
		            </div>	
				</div>	
			</section>
			<!-- End hot-deal Area -->
		
	<!-- start footer Area -->
	<div th:replace="/fragments/footer :: footer"></div>
	<!-- End footer Area -->

	<script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script th:src="@{/js/jquery-ui.js}"></script>
	<script th:src="@{/js/easing.min.js}"></script>
	<script th:src="@{/js/hoverIntent.js}"></script>
	<script th:src="@{/js/superfish.min.js}"></script>
	<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/mail-script.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>
</html>