<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/linearicons.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
<link rel="stylesheet" th:href="@{/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/personnel.css}">
<title th:text="${@environment.getProperty('spring.application.name')}"></title>
</head>
<body>
	
	<!-- #header -->
	<div th:replace="/fragments/header :: header"></div>
	<!-- #header -->

	<!-- start banner Area -->
	<section class="relative banner-area-bg">
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white" th:text="${@environment.getProperty('spring.application.name')}"></h1>
					<p class="text-white link-nav">
						<a th:href="${home}">Accueil</a>
						<span class="lnr lnr-arrow-right"></span>  <a th:href="@{/contract}">G&eacute;stion des contrats</a>
						<span class="lnr lnr-arrow-right"></span>  Enregistrer un nouveau contrat de travail
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	
	<!-- Start hot-deal Area -->
			<section class="hot-deal-area">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="col-lg-10">
		                    <div class="section-top-border">
								<h3 class="mb-30">
									<a>Enregistrer un nouveau contrat</a>
								</h3>
								<!-- add -->
								<div class="comment-form">
									<h4>Completer les informations</h4>
									<form th:action="@{/contract/add}" th:object="${addContractForm}" th:method="post">
									
										<div class="form-group form-inline">
											<div class="col-lg-3 right">
												Matricule de l'employ&eacute;e
											</div>
											<div class="form-select col-lg-6" id="default-select2">
												<select name="employeeID">
													<option th:each="employee: ${employees}" th:text="${employee.matriculation}" th:value="${employee.id}" ></option>
												</select>
											</div>
										</div>
										
										<div class="form-group form-inline">
											<div class="col-lg-3 right">
												Date de d&eacute;but<span class="required">&nbsp;&nbsp;*</span>
											</div>
											<div class="col-lg-9">
												<input th:field="*{startDate}" type="text" class="form-control date-picker" name="startDate" id="startDate">
												<span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="form-span-error left"></span>
											</div>
										</div>
										
										<div class="form-group form-inline">
											<div class="col-lg-3 right">
												Nature
											</div>
											<div class="form-select col-lg-6" id="default-select2">
												<select name="nature">
													<option>CDD</option>
													<option>CDI</option>
													<option>Stagiaire</option>
												</select>
											</div>
										</div>
										
										<div class="form-group form-inline">
											<div class="col-lg-3 right">
												Dur&eacute;e
											</div>
											<div class="col-lg-8">
												<input value="0" type="text" class="form-control" name="duration" id="duration" placeholder="en cas de CDD">
											</div>
											<div class="col-lg-1 left">
												Mois
											</div>
										</div>
										
										<div class="form-group form-inline">
											<div class="col-lg-3 col-md-12 right">
												Salaire de base<span class="required">&nbsp;&nbsp;*</span>
											</div>
											<div class="col-lg-8">
												<input value="0" type="text" class="form-control" name="baseSalary" id="baseSalary">
											</div>
											<div class="col-lg-1 left">
												Fcfa
											</div>
										</div>
										
										<div class="form-group form-inline">
											<div class="col-lg-3 right">
												Prime d'anciennet&eacute;
											</div>
											<div class="col-lg-8">
												<input value="0" type="text" class="form-control" name="seniorityBonus" id="seniorityBonus">
											</div>
											<div class="col-lg-1 left">
												Fcfa
											</div>
										</div>
										
										<div class="form-group form-inline">
											<div class="col-lg-3 right">
												Ind&eacute;mnit&eacute; de transport
											</div>
											<div class="col-lg-8">
												<input value="0" type="text" class="form-control" name="transportationAllowance" id="transportationAllowance">
											</div>
											<div class="col-lg-1 left">
												Fcfa
											</div>
										</div>
										
										<div class="form-group form-inline">
											<div class="col-lg-3 right">
												Ind&eacute;mnit&eacute; de logement
											</div>
											<div class="col-lg-8">
												<input value="0" type="text" class="form-control" name="housingAllowance" id="housingAllowance">
											</div>
											<div class="col-lg-1 left">
												Fcfa
											</div>
										</div>
										
										<br>
										<div class="form-group form-inline">
											<div class="col-lg-3 right">
												<input type="submit" class="genric-btn info radius text-uppercase" value="Enregistrer" />
											</div>
											<div class="col-lg-9 left">
												<a th:href="@{/contract}" class="genric-btn primary radius text-uppercase">Annuler</a>
											</div>
										</div>
		
									</form>
								</div>
							</div>
		                </div>
		            </div>	
				</div>	
			</section>
			<!-- End hot-deal Area -->
		
	<!-- start footer Area -->
	<div th:replace="/fragments/footer :: footer"></div>
	<!-- End footer Area -->

	<script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script th:src="@{/js/jquery-ui.js}"></script>
	<script th:src="@{/js/easing.min.js}"></script>
	<script th:src="@{/js/hoverIntent.js}"></script>
	<script th:src="@{/js/superfish.min.js}"></script>
	<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/mail-script.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>
</html>