<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/linearicons.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
<link rel="stylesheet" th:href="@{/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/personnel.css}">
<title th:text="${@environment.getProperty('spring.application.name')}"></title>
<script> function rowClicked(id) { location.href = "employee/" + id; }</script>
</head>
<body>
	
	<!-- #header -->
	<div th:replace="/fragments/header :: header"></div>
	<!-- #header -->

	<!-- start banner Area -->
	<section class="relative banner-area-bg">
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white" th:text="${@environment.getProperty('spring.application.name')}"></h1>
					<p class="text-white link-nav">
						<a th:href="${home}">Accueil</a>
						<span class="lnr lnr-arrow-right"></span>  Traitements des contrats de travail
					
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	
	<!-- Start hot-deal Area -->
			<section class="hot-deal-area">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="col-lg-10">
			                <div class="section-top-border">
								<h3 class="mb-30">Liste de contrats enregistr&eacute;s</h3>
								<div class="right">
									<a th:href="@{/contract/add}" class="primary-btn text-uppercase">Enregistrer un contrat de travail</a>
								</div>
								<br><br>
			                    <div class="progress-table-wrap">
								<div class="progress-table">
									<div class="table-head">
										<div class="contract_id">#</div>
										<div class="contract_employee">Employee</div>
										<div class="contract_function">Fonction</div>
										<div class="contract_nature">Nature</div>
										<div class="contract_salary">Salaire net</div>
										<div class="contract_action"></div>
									</div>
									<div class="table-row table-row-hoverable" th:each="contract: ${contracts}" th:onclick="'javascript:rowClicked(\'' + ${contract.employee.id} + '\');'">
										<div class="contract_id" th:text="${contract.employee.id}"></div>
										<div class="contract_employee" th:text="${contract.employee.firstname} + ' ' + ${contract.employee.lastname}"></div>
										<div class="contract_function" th:text="${contract.employee.function.denomination}"></div>
										<div class="contract_nature" th:text="${contract.nature}"></div>
										<div class="contract_salary" th:text="${contract.netSalary} + ' FCFA'"></div>
										<div class="contract_action">
											<a th:href="@{contract/edit/{id}(id=${contract.id})}" class="genric-btn warning radius">Modifier</a>&nbsp;&nbsp;
											<a th:href="@{contract/delete/{id}(id=${contract.id})}" class="genric-btn danger radius">Résilier</a>
										</div>
									</div>
								</div>
								</div>
			                </div>
			        	</div>
		            </div>	
				</div>	
			</section>
			<!-- End hot-deal Area -->
		
	<!-- start footer Area -->
	<div th:replace="/fragments/footer :: footer"></div>
	<!-- End footer Area -->

	<script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script th:src="@{/js/jquery-ui.js}"></script>
	<script th:src="@{/js/easing.min.js}"></script>
	<script th:src="@{/js/hoverIntent.js}"></script>
	<script th:src="@{/js/superfish.min.js}"></script>
	<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/mail-script.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>
</html>